@page "/dashboard"

<Row Gutter="(16,24)">


	@for (int i = 0; i < 20; i++)
	{
	<AntDesign.Col Sm="12" Md="8" Lg="6">
		<Card Bordered="false" Hoverable="true">
			<Cover>
				<img height="300" style="object-fit: cover;" alt="example" src="https://semnas.stis.ac.id/2021/assets/images/semnas_panel_paralel.jpg" />
			</Cover>
			<Body>
				<Row>
					<AntDesign.Col Sm="24">SEMINAR NASIONAL OFFICIAL STATISTICS 2021: BIG DATA PRACTICE IN PUBLIC SECTOR</AntDesign.Col>
					<AntDesign.Col Sm="24">Sabtu, 25 September 2021</AntDesign.Col>
					<AntDesign.Col Sm="24">08:30 - 12:00 WIB</AntDesign.Col>
				</Row>
			</Body>
			<ActionTemplate>
				<CardAction><Icon Type="setting" OnClick="@(()=> { })" /></CardAction>
				<CardAction><Icon Type="edit" OnClick="@(()=> { })" /></CardAction>
				<CardAction><Icon Type="ellipsis" OnClick="@(()=> { })" /></CardAction>
			</ActionTemplate>
		</Card>
	</AntDesign.Col>
	}


</Row>












