@inherits LayoutComponentBase


@inject IJSRuntime js

@code {
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        Console.WriteLine( "main layout => " + firstRender);
        if (firstRender)
        {
          
            await js.InvokeVoidAsync("onBlazorReady");
        }
    }

    //protected override void OnAfterRender(bool firstRender)
    //{  Console.WriteLine( "main layout => firstRender " + firstRender);
    //    base.OnAfterRender(firstRender);
    //}
}


<!-- Main navbar -->
<NavBar />
<!-- /main navbar -->
<!-- Page content -->
<div class="page-content">

    <!-- Main sidebar -->
    <div class="sidebar sidebar-light sidebar-main sidebar-expand-lg">

        <!-- Sidebar content -->
        <div class="sidebar-content">

            <!-- User menu -->
            
            <!-- /user menu -->
            <!-- Main navigation -->
            <NavMenu />
            <!-- /main navigation -->

        </div>
        <!-- /sidebar content -->

    </div>
    <!-- /main sidebar -->
    <!-- Main content -->
    <div class="content-wrapper">

        <!-- Page header -->
        @*<div class="page-header page-header-light">
            <div class="page-header-content d-sm-flex">
                <div class="page-title">
                    <h4><span class="font-weight-semibold">Seed</span> - Static layout</h4>
                </div>

                <div class="my-sm-auto ml-sm-auto mb-3 mb-sm-0">
                    <button type="button" class="btn btn-primary w-100 w-sm-auto">Button</button>
                </div>
            </div>

            <div class="breadcrumb-line breadcrumb-line-light header-elements-sm-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="#" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <a href="#" class="breadcrumb-item">Link</a>
                        <span class="breadcrumb-item active">Current</span>
                    </div>

                    <a href="#" class="header-elements-toggle text-body d-sm-none"><i class="icon-more"></i></a>
                </div>

                <div class="header-elements d-none">
                    <div class="breadcrumb justify-content-center">
                        <a href="#" class="breadcrumb-elements-item">
                            Link
                        </a>

                        <div class="breadcrumb-elements-item dropdown p-0">
                            <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                                Dropdown
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item">Action</a>
                                <a href="#" class="dropdown-item">Another action</a>
                                <a href="#" class="dropdown-item">One more action</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">Separate action</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        <!-- /page header -->
        <!-- Content area -->
        <div class="content">
            @Body


        </div>
        <!-- /content area -->
        <!-- Footer -->
        <div class="navbar navbar-expand-lg navbar-light">
            <div class="text-center d-lg-none w-100">
                <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
                    <i class="icon-unfold mr-2"></i>
                    Footer
                </button>
            </div>

            <div class="navbar-collapse collapse" id="navbar-footer">
                <span class="navbar-text">
                    &copy; 2015 - 2018. <a href="#">Limitless Web App Kit</a> by <a href="https://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
                </span>

                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item"><a href="https://kopyov.ticksy.com/" class="navbar-nav-link" target="_blank"><i class="icon-lifebuoy mr-2"></i> Support</a></li>
                    <li class="nav-item"><a href="https://demo.interface.club/limitless/docs/" class="navbar-nav-link" target="_blank"><i class="icon-file-text2 mr-2"></i> Docs</a></li>
                    <li class="nav-item"><a href="https://themeforest.net/item/limitless-responsive-web-application-kit/13080328?ref=kopyov" class="navbar-nav-link font-weight-semibold"><span class="text-pink"><i class="icon-cart2 mr-2"></i> Purchase</span></a></li>
                </ul>
            </div>
        </div>
        <!-- /footer -->

    </div>
    <!-- /main content -->

</div>
<!-- /page content -->