@page "/T1"

<PageTitle>User</PageTitle>

<div class="card">
    <div class="card-header">
        <h5 class="card-title"></h5>
    </div>

    <div class="card-body">
         <div id="userTable"></div>
    </div>
</div>

@_events

