@using System.Globalization
@inject NavigationManager NavManager
@inject ILocalStorageService localStorage



<li class="nav-item nav-item-dropdown-lg dropdown">
    <a href="#" class="navbar-nav-link navbar-nav-link-toggler dropdown-toggle" data-toggle="dropdown">
        <i class="icon-pulse2"></i>
        <span class="d-none d-lg-inline-block ml-2">Bahasa</span>
    </a>
    <div class="dropdown-menu dropdown-menu-right">
        <a href="#" class="dropdown-item">Menu item 1</a>
        <a href="#" class="dropdown-item">Menu item 2</a>
    </div>
</li>


@code {
    CultureInfo[] cultures = new[]
            {
        new CultureInfo("en-US"),
        new CultureInfo("es-ES")
    };

    CultureInfo CultureBind
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            if (CultureInfo.CurrentCulture != value)
            {
                localStorage.SetItemAsync<string>("culture", value.Name);
                NavManager.NavigateTo(NavManager.Uri, forceLoad: true);
            }
        }
    }
}