::deep .trigger {
	font-size: 20px;
	line-height: 64px;
	padding: 0 24px;
	cursor: pointer;
	transition: color 0.3s;
}

	::deep .trigger:hover {
		color: #1890ff;
	}



::deep .logo {
	height: 32px;
	background: rgba(255, 255, 255, 0.2);
	margin: 16px;
}

::deep .site-layout .site-layout-background {
	background: #fff;
}
