@page "/event"

<div class="page-header page-header-light">
    <div class="page-header-content d-sm-flex">
        <div class="page-title">
            <h4><span class="font-weight-semibold">Event</span> - Semua Acara yang Anda Miliki</h4>
        </div>

        <div class="my-sm-auto ml-sm-auto mb-3 mb-sm-0">
            <a href="/event/create">
                <button type="button" class="btn btn-primary w-100 w-sm-auto">Buat Event Baru</button>
            </a>
        </div>
    </div>
</div>

<div class="content">

    <div class="row">


        @for (int i = 0; i < 4; i++)
        {
            <div class="col-lg-4">
                <div class="card">

                    <div class="card-body bg-primary text-white text-center" style="background-image: url(assets/images/backgrounds/panel_bg.png); background-size: contain; height:300px">
                        <div class="mb-3">
                            <h5 class="font-weight-semibold mb-0 mt-1">
                                Seminar Nasional Dengan judul yang sangat panjang sekali dengan kalimat yang panjang maka dapat melihat hasilnya sperti apa
                            </h5>
                        </div>

                    </div>

                    <div style="min-height: 180px;">

                        <div class="card-body">
                            <div class="row">
                                <div class="col-4"> Hari, Tanggal </div>
                                <div class="col-8"> Sabtu, 25 September 2021 </div>
                            </div>
                            <div class="row">
                                <div class="col-4"> Waktu </div>
                                <div class="col-8"> 08:30 - 12:00 WIB </div>
                            </div>

                            <div class="row">
                                <div class="col-4">Jumlah Peserta</div>
                                <div class="col-8"> 250 </div>
                            </div>

                        </div>

                        <div class="card-footer d-flex justify-content-center">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <a href="#" class="btn btn-outline btn-icon rounded-pill">
                                        <i class="icon-phone"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="btn btn-outline btn-icon rounded-pill">
                                        <i class="icon-bubbles4"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="btn btn-outline btn-icon rounded-pill">
                                        <i class="icon-envelop4"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>




                </div>
            </div>

        }

        <div class="col-lg-4">
            <div class="card">

                <div class="card-body bg-secondary text-white text-center" style="height:480px;">
                    <i class="icon-add" style="font-size: 200px;"></i>
                </div>



            </div>
        </div>









    </div>
</div>
