@page "/role"

@using Serti.Client.X.Extensions;
@using Shared.Role.Resources
@inject IJSRuntime JSRuntime

<PageTitle>Role</PageTitle>

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Role</h5>
    </div>

    <div class="card-body">
        <div id="grid-role"></div>
    </div>
</div>

@code {

    IJSObjectReference _jsModule;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        _jsModule = await JSRuntime.ReadJsFile<ListRole>();
        await _jsModule.InvokeVoidAsync("OnLoad", RoleEndpoint.Role.GetRoles);
    }
}