@inject IStringLocalizer<global::Shared.Todos.Resources.TodoLang> localizer

<Form Model="@_model" OnFinish="Save" Size="@AntSizeLDSType.Small">

	<FluentValidationValidator />

	<FormItem Label="@localizer["Title"]" Required="true">
		<Input @bind-Value="@context.Title" />
	</FormItem>
	<FormItem WrapperColOffset="8" WrapperColSpan="16">
		<CButtonSubmit IsLoading="_submitLoading" />
		<Button OnClick="HandleHideModal"> Cancel </Button>
	</FormItem>
</Form>
