@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @_currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="LoginAsync">Login</button>
<button class="btn btn-primary" @onclick="GetToken">Get Token</button>
<button class="btn btn-primary" @onclick="GetEvent">Get Events</button>


